.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profilepicture {
  border: 5px solid rgb(6, 102, 139);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 100px;

}
.welcometext {
    color: white;
   margin-top:15px;
   display: flex;
   flex-direction: column;    
}
.welcometext span {
    display: flex;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.welcometext span:first-child {
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.buttoncont {
 display: flex;
    margin-top: 10px;
    width: 15%;
}
.button {
    width: 100%;
    padding: 8px;
    background: rgb(6, 102, 139);;
    border-radius: 50px;
    padding: none;
    color: white;
    font-size: 16px;
    border: none;
}
.button:hover {
    background: black;
}
.button:focus {
    width: 100%;
    padding: none;
}
@media (max-width: 1040px) {
    .welcome {
        width: 92%;
        position: relative;
    }
    .profilepicture {
        border: 4px solid rgb(6, 102, 139);
        position: absolute;
        bottom: 70px;
      }
      .welcometext span {
          display: flex;
          justify-content: center;
          font-size: 10px;
          letter-spacing: 1.5px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          position: relative;
      }
      .welcometext span:first-child {
          font-size: 15px;
          position: relative;
      }
      .buttoncont {
          width: 45%;
      }
      .button {
          font-size: 12px;
          
      }
      .button:hover {
          background: black;
      }
}